{block content}

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            

			{include ../categories.latte}
            
            <div class="col-md-9">
				<h1 class="pull-left">V naší nabídce</h1>
			</div>
            
            
			<div class="col-md-9">            
				{include ../productList.latte}
			</div>
        </div>

    </div>
    <!-- /.container -->
