			
		<p class="lead">Vyhledávání</p>
		<form class="navbar-form navbar-left" role="search" action="{link Search:default}">
			<div class="form-group">
				<input type="text" name="keyword" class="form-control" placeholder="Search">
			</div>
			<button type="submit" class="btn btn-primary">Hledat</button>
		</form>